<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>n90bap</string>
			<key>CPID</key>
			<integer>35120</integer>
			<key>Platform</key>
			<string>s5l8930x</string>
			<key>SCEP</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>FirmwareDirectory</key>
	<string>Firmware</string>
	<key>KernelCachesByPlatform</key>
	<dict/>
	<key>KernelCachesByTarget</key>
	<dict>
		<key>n90b</key>
		<dict>
			<key>Release</key>
			<string>kernelcache.release.n90b</string>
		</dict>
	</dict>
	<key>MinimumSystemPartition</key>
	<dict>
		<key>048-8530-002.dmg</key>
		<integer>1487</integer>
	</dict>
	<key>ProductBuildVersion</key>
	<string>9B208</string>
	<key>ProductType</key>
	<string>iPhone3,2</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>RamDisksByPlatform</key>
	<dict>
		<key>s5l8930x</key>
		<dict>
			<key>Update</key>
			<string>038-5512-003.dmg</string>
			<key>User</key>
			<string>038-5508-003.dmg</string>
		</dict>
	</dict>
	<key>RestoreRamDisks</key>
	<dict>
			<key>Update</key>
			<string>038-5512-003.dmg</string>
			<key>User</key>
			<string>038-5508-003.dmg</string>
	</dict>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>67143984</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>67143984</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,2</string>
	</array>
	<key>SystemPartitionPadding</key>
	<dict>
		<key>n90b</key>
		<dict>
			<key>128</key>
			<integer>1280</integer>
			<key>16</key>
			<integer>160</integer>
			<key>32</key>
			<integer>320</integer>
			<key>64</key>
			<integer>640</integer>
			<key>8</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>SystemRestoreImages</key>
	<dict>
		<key>User</key>
		<string>048-8530-002.dmg</string>
	</dict>
</dict>
</plist>
